.home {
     
    position: relative;
    
}
.home .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("./image/background.jpg");
    filter: blur(5px);
    z-index: -1;
}

.home header{
    height: 100px;
    
    text-align: center;
}
.home nav{
    min-height: 50px;
    background-color:rgb(85, 107, 47);
    text-align: center;
    position: sticky;
    top : 0 ;
    left: 0;

    /* flex , grid */
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    gap : 40px;
}

.home img{
    max-height: 60px;
}

.home nav a{
    text-decoration: none;
    color: white;   
    transition: 0.5s; 
    
}

.home nav a:hover{
    color: red;
    transform: scale(1.5);
}

.home .table{
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}
.home main{
    height: 50%;
    background-color: rgba(143, 188, 143, 0.192);
    text-align: center;
    flex:2;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    
    
}

.home main:hover{
    background-color: rgb(255, 0, 0);
    flex: 3;
}
.home main h1{
    color: white;
    font-size: 90Px;
}
.home main p{
    color: white;
    font-size: 20px;
    margin-left: 27%;
    margin-right: 27%;
}
.home main a{
    color: white;

}
.home section{
    height: 100%;
    background-color: rgba(118, 187, 141, 0.116);
    align-items: center;
    justify-content: center;
    flex: 2;

}
.home iframe{
    height: 80%;
    padding: 20px;
}
.home footer{
    height: 100px;
    background-color: rgba(209, 180, 218, 0.685);

    display: flex;
    justify-content: center;
    align-items: center;
}
.home footer p{
    color: black;
    font-size: 2rem;
    font-weight: bolder;
    
}
/* .home body{
    background-image: url("./image/background.jpg") ;
} */

