header{
    height: 100px;
    
    text-align: center;
}
nav{
    height: 50px;
    background-color:rgba(85, 107, 47, 0.281);
    text-align: center;
    padding-top: 30px;
    padding-bottom: px ;
}

nav a{
    text-decoration: none;
    color: white;
    margin-left: 15px ;
    margin-right: 15px;
   
}


main{
    height: 500px;
    background-color: rgba(143, 188, 143, 0.192);
    text-align: center;

}
main h1{
    color: white;
    font-size: 90Px;
}
main p{
    color: white;
    font-size: 20px;
    margin-left: 27%;
    margin-right: 27%;
}
main a{
    color: white;

}
section{
    height: 500px;
    background-color: rgba(118, 187, 141, 0.116);

}
footer{
    height: 100px;
    background-color: rgba(209, 180, 218, 0.685);
    text-align: center;
}
footer p{
    color: white;
}
body{
    background-image: url(/image/background.jpg) ;
}